.Community-body{
    display: flex;
    background-color: #F1FAFC;
    background-image: url("https://www.tynker.com/image/homepage/homepage-parent/new/map-blue.png") ;
}
.Community-Header{
    background-color: #F1FAFC;
}