*{
    margin: 0;
    padding: 0;
}
.Community-body{
    display: flex;
    background-color: #F1FAFC;
    background-image: url("https://www.tynker.com/image/homepage/homepage-parent/new/map-blue.png") ;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1000px;
}
.Community-Header{
    background-color: #F1FAFC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Community-Head{
    margin-bottom: 10px;
}