*{
    margin: 0;
    padding: 0;
}
.Hero-wrap{
    width: 100%;
}
.Hero-Header{
    
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: linear-gradient( #B70000, #B80505);
}
.Hero-Body{
    background: url(https://www.tynker.com/image/homepage/winter-2022/hero-background.webp);
    display: flex;
    
}
.Hero-Body-Text{
    margin-top: 10px;
    color: white;
    font-size:large;
    line-height: 25px;
}
.buy{
    margin-top: 20px;
    width: 100px;
    color: white;
    border-radius: 5px;
    height: 34px;
    background-color: #FF8D1A;
    outline: none;
    border: none;
}
.image1{
    background-size: 50% 80%;
}
