*{
    margin: 0;
    padding: 0;
}
.image-1{
    width: 95%;

    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;
}
.Body-Wrap{
    display: flex;
    justify-content: center;
}
.Body-Text{
    margin-top: 40px;
    gap: 10px;
    line-height: 20px;
    font-family: Raleway;
}
.Button1{
    margin-top: 20px;
    width: 100px;
    color: white;
    border-radius: 5px;
    height: 34px;
    background-color: #FF8D1A;
    outline: none;
    border: none;
}
.image-2{
    margin-bottom: 5px;
}